# Reductions

Reductions allow us to compute summary statistics and other useful aggregations over our data.

The dataset for these exercises contains minutely price and volume observations for 5 stocks for October of 2017.

In [13]:
import numpy as np
import pandas as pd
from IPython.display import display

prices_df = pd.read_csv('prices.csv', index_col='dt')
volumes_df = pd.read_csv('volumes.csv', index_col='dt')

display(prices_df.head())
display(volumes_df.head())

                             AAPL    MSFT     TSLA      MCD      BK
dt
2017-10-02 13:31:00+00:00  154.34  74.880  342.330  156.380  52.736
2017-10-02 13:32:00+00:00  154.07  74.832  341.480  156.660  52.686
2017-10-02 13:33:00+00:00  153.72  74.835  341.830  156.324  52.756
2017-10-02 13:34:00+00:00  153.69  74.890  341.240  156.660  52.726
2017-10-02 13:35:00+00:00  153.45  74.810  341.873  156.670  52.706

                               AAPL      MSFT     TSLA      MCD       BK
dt
2017-10-02 13:31:00+00:00  420042.0  409211.0  49907.0  85774.0  30276.0
2017-10-02 13:32:00+00:00  161960.0   49207.0  18480.0   6866.0   4511.0
2017-10-02 13:33:00+00:00  118283.0   24043.0  47039.0   3000.0   3001.0
2017-10-02 13:34:00+00:00  103544.0   62383.0  13444.0   4364.0    900.0
2017-10-02 13:35:00+00:00   88012.0   40175.0  36556.0    820.0   1500.0

In [15]:
prices = prices_df.values
volumes = volumes_df.values
timestamps = prices_df.index.values

**Exercise:** Compute the average price for each stock.

**Exercise:** Compute the average volume for each stock.

**Exercise:** Compute the number of times that each stock's price increased.

In [ ]:
np.diff?

**Exercise:** Compute the volume-weighted average price of all 5 stocks.

In [12]:
np.average?

**Exercise:** Compute the timestamps where the lowest price occurred for each stock.

In [ ]:
np.argmin?

**Exercise:** Compute the average volume for each minute of the day, aggregated across all 5 stocks.

(**HINT:** There are exactly 390 trading minutes in each day in this dataset.)